{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "singleQuote": true,
  "semi": false,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^server-only$",
    "^(react|react-dom)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(app|constants|components|hooks|images|lib|mocks|models|providers|server|services|storybook|styles|assets|store|theme|providers|data)(/.*)?$",
    "^[./]"
  ],
  "overrides": [
    {
      "files": ".gitlab-ci.yml",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
